/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
.NutPhai {
    float: right;
}

Menu {
    padding-inline-start: 0px!important;
}

.xichxuong {
    margin-top: 10px;
}